html {
  position:relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height:100%;
  text-align: center;
  background-color: rgb(241,239, 233);    
}
li{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.homeTitle{
  font-family: 'Aclonica', sans-serif;
  
  text-shadow: 2px 2px 25px black;
  font-size: 44pt;
}

.submit_button{
	display: block;
    font-weight: 800;
    color: #f1efe9;
    text-transform: uppercase;
    background-color: #282828;
    font-size: 12px;
    letter-spacing: .1em;
    padding: 19px 30px 17px;
    max-width: 100%;
    width: 155px;
    margin: 22px auto 34px;
    border-radius: 25px;
    transition: opacity .3s ease;
}

.submit_button:hover{opacity:.7}

.upload_image_input{
}