html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body {
  overflow: auto;
  background-color: rgb(241,239, 233);
  
}
li{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.homeTitle{
  font-family: 'Aclonica', sans-serif;
  
  text-shadow: 2px 2px 25px black;
  font-size: 44pt;
}


.processed_view{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.processed_image{
  width: 50%;
  height: auto;
  border: 5px dashed #f7a239;
  align-self: flex-start;
}

.sentences_area{
  text-align: center;
  align-self: flex-start;
  width: 50%;
  background-color: #098234;
}